<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>スプラトゥーンのチーム分けツール</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="app">
        <nav class="navbar">
            <a href="https://pages.gitlab.io/plain-html/">Plain HTML Example</a>
            <a href="https://gitlab.com/kuttsun/splatoon" target="_blank">Repository</a>
            <a href="https://gitlab.com/pages/">Other Examples</a>
        </nav>
        <p>スプラトゥーンのチーム分けツール</p>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">名前</th>
                        <th scope="col">グループ</th>
                        <th scope="col">観戦</th>
                        <th scope="col">結果</th>
                        <th scope="col">観戦回数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member, index) in members" v-bind:class="getBackgroundColor(index)">
                        <th scope="row">{{ index + 1 }}</th>
                        <td><input v-model="member.name" class="form-control"></td>
                        <td>
                            <select v-model="member.group" class="form-control">
                                <option value="0">A</option>
                                <option value="1">B</option>
                                <option value="2">C</option>
                                <option value="3">D</option>
                            </select>
                        </td>
                        <td>
                            <select v-model="member.watch" class="form-control">
                                <option value="0">あり</option>
                                <option value="1">なし</option>
                                <option value="2">固定</option>
                            </select>
                        </td>
                        <td>{{ results[member.result] }}</td>
                        <td>{{ member.watched_count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-check">
            <input type="checkbox" id="low_count" value="low_count" v-model="low_count" class="form-check-input">
            <label class="form-check-label" for="low_count">
                観戦回数が少ない人を優先的に観戦にする（観戦回数の均等化）
            </label>
        </div>
        <div class="form-check">
            <input type="checkbox" id="renzoku" value="renzoku" v-model="renzoku" class="form-check-input">
            <label class="form-check-label" for="renzoku">
                連続で観戦にならないように配慮する
            </label>
        </div>
        <div class="form-inline">
            観戦者数&nbsp;
            <select v-model="selected_watcher_count" class="form-control">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <p>
            <button type="button" class="btn btn-primary" v-on:click="start">開始</button>&nbsp;
            <button type="button" class="btn btn-primary" v-on:click="clearWatchedCount">観戦回数をクリア</button>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        const ROOM_MAX = 10 // 部屋の最大人数
        const TEAM_MAX = 4 // 1チームの最大人数
        const RESULT_ALPHA = 0 // アルファチーム
        const RESULT_BRAVO = 1 // ブラボーチーム
        const RESULT_WATCHER = 2 // 観戦者
        const WATCH_ENABLE = 0 // 観戦あり
        const WATCH_FIX = 2 // 観戦固定

        new Vue({
            el: '#app',
            data: {
                low_count: true,
                renzoku: true,
                selected_watcher_count: 0,
                groups: ["0", "1", "2", "3"],
                teams: [0, 1],
                results: ["アルファチーム", "ブラボーチーム", "観戦"],
                members: []
            },
            created() {
                for (let i = 0; i < ROOM_MAX; i++) {
                    this.members.push({
                        name: `${i + 1}`,// test
                        group: 0,
                        watch: 0,
                        result: null, // 0, 1, 2,
                        watched_count: 0, // 観戦回数
                    })
                }
            },
            methods: {
                start: function () {
                    console.log("----- start -----")

                    // 初期化
                    for (let i = 0; i < this.members.length; i++) {
                        this.members[i].last_result = this.members[i].result // 前回の結果を保持
                        this.members[i].result = null;
                    }
                    let members = this.members.filter(x => x.name)// 名前が空欄の人は除外
                    console.log(JSON.stringify(members))

                    // まず観戦者を決定する
                    let required_watcher_count = Math.max(0, members.length - (TEAM_MAX * 2))// 最低限必要な観戦者の数
                    // 観戦者の数は、選択されている数と最低限必要な観戦者の数のうち大きいほうとする
                    let watcher_count = Math.max(this.selected_watcher_count, required_watcher_count);
                    if (watcher_count > 0) {
                        // 観戦者が必要

                        // 観戦固定の人を観戦者に割り当てる
                        this.setWatcher(watcher_count, x => x.name && x.watch == WATCH_FIX)

                        if (this.low_count) {
                            // まだ観戦者が必要であれば、観戦ありで、観戦回数が少ない人の中から選択
                            while (this.getMissingCount(watcher_count) > 0) {
                                // 観戦ありかつまだ観戦者に選ばれていない人を取得（観戦候補者）
                                let candidates = this.members.filter(x => x.name && x.watch == WATCH_ENABLE && x.result != RESULT_WATCHER)
                                // 上記メンバーで観戦回数の最小値を取得（スプレッド構文で配列を個別に引数で渡すように展開）
                                let min_watched_count = Math.min(...candidates.map(x => x.watched_count))
                                //console.log(`candidates:${candidates}, min:${min_watched_count}`)
                                // 観戦候補者のうち、観戦回数が最小でかつ前回観戦でなかった人を取得（観戦候補者２）
                                let candidates2 = candidates.filter(x => x.watched_count == min_watched_count && x.last_result != RESULT_WATCHER)
                                if (candidates2.length > 0 && this.renzoku) {
                                    // 前回観戦でなかった人で観戦回数が最小の人がいたので、観戦者に設定
                                    candidates2_names = candidates2.map(x => x.name)
                                } else {
                                    // 前回観戦でなかった人で観戦回数が最小の人がいなかった or 連続での観戦を許容するので、前回観戦だった人も含めて観戦者に設定
                                    candidates2_names = candidates.filter(x => x.watched_count == min_watched_count).map(x => x.name)
                                }
                                //console.log(`candidates2_names:${candidates2_names}`)
                                this.setWatcher(watcher_count, x => candidates2_names.includes(x.name))
                            }
                        }

                        // まだ観戦者が必要であれば、観戦ありで、前回観戦していない人の中から選択
                        if (this.getMissingCount(watcher_count) > 0 && this.renzoku) {
                            this.setWatcher(watcher_count, x => x.name && x.watch == WATCH_ENABLE && x.last_result != RESULT_WATCHER)
                        }

                        // まだ観戦者が必要であれば、観戦ありの中から選択
                        if (this.getMissingCount(watcher_count) > 0) {
                            this.setWatcher(watcher_count, x => x.name && x.watch == WATCH_ENABLE)
                        }

                        // まだ観戦者が必要であれば、全員の中から選択
                        if (this.getMissingCount(watcher_count) > 0) {
                            this.setWatcher(watcher_count, x => x.name)
                        }
                    }

                    // 各グループ内のメンバーを２つに均等にチーム分けしていく
                    for (group of this.groups) {
                        let group_members = this.members.filter(x => x.name && x.group == group && x.result != RESULT_WATCHER);// 観戦者を除外したメンバーを取得
                        if (group_members.length <= 0) {
                            continue;
                        }

                        let is_first_team = true
                        let half_count = Math.floor(group_members.length / 2) // グループの半分の人数
                        console.log(`group: ${group}, member:${group_members.length}, half:${half_count}`)

                        let teams = this.shuffle(this.teams)// 偏らないようにチームもシャッフルしてから処理する
                        for (team of teams) {
                            console.log(`team:${team}`)
                            let team_members = this.members.filter(x => x.name && x.result == team);// 現在のチームのメンバーを取得
                            let not_enough_count = TEAM_MAX - team_members.length // チームに足りない人数
                            if (not_enough_count > 0) {
                                // チームに空きがある
                                let no_team_group_members = this.members.filter(x => x.name && x.group == group && x.result == null);// グループ内でまだチームが決まっていないメンバー
                                // このチームに割り当てる人数を決定する
                                let num = 0
                                if (is_first_team) {
                                    // １つ目のチームへの割り当て
                                    // ２つ目のチームが既に満員の場合、このチームに全員を割り当てる
                                    let second_team_count = this.members.filter(x => x.name && x.result == teams[1]).length
                                    if (second_team_count >= TEAM_MAX) {
                                        // ２つ目のチームが満員
                                        console.log(`２つめのチーム満員:${second_team_count}`)
                                        num = Math.min(not_enough_count, no_team_group_members.length);
                                    }
                                    else {
                                        console.log(`２つめのチームが満員ではない:${second_team_count}`)
                                        num = Math.min(half_count, not_enough_count, no_team_group_members.length);
                                    }
                                }
                                else {
                                    // ２つ目のチームへの割り当て
                                    num = Math.min(not_enough_count, no_team_group_members.length);
                                }
                                console.log(`team:${team}, チームの空き人数:${not_enough_count}, グループ内でチーム未定の人数:${no_team_group_members.length}, 選択する人数:${num}`)
                                let selected_members = this.getRandam(no_team_group_members, num)
                                this.setResult(selected_members, team)
                                console.log(JSON.stringify(selected_members))
                            }
                            is_first_team = false
                        }
                    }
                    // チーム分け結果を出力
                    console.log(JSON.stringify(this.members))
                },
                clearWatchedCount: function () {
                    // 観戦回数のクリア
                    for (let i = 0; i < this.members.length; i++) {
                        this.members[i].watched_count = 0
                    }
                },
                setWatcher: function (watcher_count, filter) {
                    // 与えられた条件の中からランダムに観戦者を設定する
                    let candidates = this.members.filter(filter);
                    let selected_members = this.getRandam(candidates, Math.min(this.getMissingCount(watcher_count), candidates.length))// ランダムに選択
                    this.setResult(selected_members, RESULT_WATCHER) // 観戦確定
                    //console.log(JSON.stringify(selected_members))
                },
                setResult: function (members, result) {
                    for (member of members) {
                        let index = this.members.findIndex(x => x.name === member.name);
                        this.members[index].result = result
                        if (result == RESULT_WATCHER) {
                            this.members[index].watched_count++
                        }
                    }
                },
                getMissingCount: function (watcher_count) {
                    // 足りない観戦者の数を取得
                    // ＝必要な観戦者数－メンバーのうち既に観戦が決定している人の数
                    return watcher_count - this.members.filter(x => x.name && x.result == RESULT_WATCHER).length
                },
                getRandam: function (array, n) {
                    const shuffled = this.shuffle(array) // shuffle
                    let selected = shuffled.slice(0, n) //get sub-array of first n elements AFTER shuffle
                    return selected;
                },
                shuffle: function (array) {
                    // https://gray-code.com/javascript/shuffle-for-item-of-array/
                    for (let i = (array.length - 1); 0 < i; i--) {
                        // 0〜(i+1)の範囲で値を取得
                        let r = Math.floor(Math.random() * (i + 1));
                        // 要素の並び替えを実行
                        let tmp = array[i];
                        array[i] = array[r];
                        array[r] = tmp;
                    }
                    return array;
                },
                getBackgroundColor: function(index){
                    switch(this.members[index].result){
                        case RESULT_ALPHA: return "bg-alpha"
                        case RESULT_BRAVO: return "bg-bravo"
                        case RESULT_WATCHER: return "bg-watcher"
                    }
                    return ""
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>