body {
  font-family: sans-serif;
  margin: auto;
  /* max-width: 1280px; */
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  /* max-width: 800px; */
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.bg-alpha {
  background-color: #EAFF40; /* splatoon3 */
  /*background-color: magenta;*/ /* splatoon2 */
}
.bg-bravo {
  background-color: #603BE2; /* splatoon3 */
  /*background-color: lime;*/ /* splatoon2 */
}
.bg-watcher {
  background-color: lightgray;
}

